<body class='login-page'>

<div class="row container">
  <h2 id="home-title">Welcome Ski Bazaar</h2>
</div>

<%= render partial: "shared/credentials_form" %>

<%= link_to "Create An Account", new_user_path %>

</body>
