body {
  /*font-family: 'Droid Sans Mono', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  color: #212121;
}


/*** HOMEPAGE ***/

.login-page {
  background-image: url("/img/homepage.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

#home-title {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 40px;
}

.center-block {
  margin-top: 60px;
  float: none !important
}

.credential-label {
  color: #fff;
 }

.btn-create-account, .btn-login {
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  padding: 5px 10px 5px 20px;
  margin-top: 10px;
}

.btn-login {
  padding-right: 95px;
  padding-left: 95px;
}

.btn-login:hover {
  background-color: #0ac5f4;
  border: 1px solid #0ac5f4;
}

.btn-create-account a {
  color: #fff;
}

a.btn-create-account:hover {
  text-decoration: none;
  color: #fff;
  background-color: #717268;
  border: 1px solid #717268;
}




/*** NAVBAR ***/

#navbar-login, #navbar-login a {
  margin-top: 10px;
  color: #fff;
}

.navbar {
  background-color: #0ac5f4;
}

.breadcrumb {
  margin-top: 50px;
}

/*** SKI INDEX ***/

#ski-list {
  margin-top: 20px;
  padding-left: 10px;
}

/*** SKI SHOW ***/

.media-object {
  max-width: 200px;
  max-height: 300px;
}

.ski-specs {
  list-style: none;
}
