
html {
  font-family: 'Poppins', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
}

body {
  color: #212121;
}


/*** HOMEPAGE ***/

.login-page {
  background-image: url("/img/homepage2.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

#home-title {
  color: #fff;
}


/*** NAVBAR ***/

#navbar-login, #navbar-login a {
  margin-top: 10px;
  color: #fff;
}

.navbar {
  background-color: #0ac5f4;
}

.breadcrumb {
  margin-top: 50px;
}

/*** SKI INDEX ***/

#ski-list {
  margin-top: 20px;
  padding-left: 10px;
}

/*** SKI SHOW ***/

.media-object {
  max-width: 200px;
  max-height: 300px;
}

.ski-specs {
  list-style: none;
}
