<h3>My Listings</h3>

<% @listing.each do |listing| %>
  <%= listing.price %></br>
</br>
</br>
<% end %>

<!-- link_to "Edit", edit_admin_ski_path(@ski)

link_to "Delete", ski_path(@ski), method: :delete -->
