<h2>User Page</h2>
<h2>Ski Bazaar</h2>
<h4>The marketplace for wintersports gear</h4>

<ul>
<% @skis.each do |ski| %>
  selected_ski(ski.id)
  <%= link_to "#{ski.brand}: #{ski.name}", ski_path(ski) %> |
  <%= link_to "Add Listing", new_seller_ski_listing_path(ski) %>
</br>
</br>
<% end %>
</ul>
